.input-search {
    height: 30px;
    padding-left: 12px;
    background-color: #424652;
    background-color: rgba(255, 255, 255, .05);
    border: 0 none currentcolor;
    color: #fff;
    font-size: 12px;
    width: 300px;
    position: relative;
    left: 20px;
}

.logo {
    position: absolute;
    left: 0;
    top: 9px;
}

.header {
    height: 59px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
}

.component {
    position: absolute;
    width: 200px;
    left: 120px;
    top: 16px;
}

.header .layui-nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: none;
}

.img-logo {
    width: 100px;
}

footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 20px 0;
    background-color: gainsboro;
}

.layui-breadcrumb a:hover {
    color: #1191ff !important;
}

.title-bread {
    position: relative;
    top: 7px;
}