.container {
    min-height: calc(100vh - 116px);
}

.container h1 {
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.7em;
    margin-top: 14px;
    font-size: 18px;
}


.item {
    margin-top: 1.5em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.9em;
    font-size: 13px;
}

.item-logo {
    float: left;
    margin-right: 1em;
    border-radius: 4px;
    padding: 2px;
    box-shadow: 1px 1px 1px 1px #ccc;
    width: 48px;
}

.item-header {
    margin-top: 1.5em;
    margin-left: 65px;
}

.item-title {
    margin-top: 0.6em;
    margin-bottom: 0.1em;
}

.sub-bread {
    font-size: 12px;
}

.item-usage {
    background: #eeeeee;
    padding: 1px 5px;
    border-radius: 2px;
    float: right;
    font-weight: normal;
    font-size: 12px;
}

.item-subtitle {
    color: #999;
    font-size: 95%;
    margin: 0;
}

.item-description {
    margin-top: 0.5em;
    margin-left: 65px;
    font-size: 16px;
}

.license {
    padding: 1px 5px;
    float: right;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    background-color: #5285c5;
    display: inline-block;
    font-style: normal;
    margin: 1px;
    color: white;
}
