<div class="layui-header header header-doc">
    <div class="layui-main">
        <a class="logo" href=""><img src="//cdn.zhuangcloud.cn/enbug.svg" alt="enbug" class="img-logo"></a>
        <div class="layui-form component">
            <div class="layui-form-select">
                <div class="layui-select-title">
                    <input id="search-" type="text" name="search" placeholder="搜索(回车键)"
                           class="layui-input-inline input-search">
                </div>
            </div>
        </div>
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item right"><a href="/">数据统计</a></li>
        </ul>
    </div>

</div>

