<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="//download.huwenqiang.cn/layui/v2.2.45/css/layui.css">
    {% block style %}
    {% endblock %}
</head>
<body>
{% include "_nav.html" %}
<div class="layui-main">
    {% block body %}
    {% endblock %}
</div>
{% include "footer.html" %}

</body>
<script src="//download.huwenqiang.cn/layui/v2.2.45/layui.js"></script>
<script type="text/javascript" src="../static/js/common.js"></script>
{% block script %}
{% endblock %}
</html>