<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="//cdn.huwenqiang.cn/layui/v2.2.5/css/layui.css">
    <link rel="stylesheet" href="/static/css/common.css">
    {% block style %}
    {% endblock %}
</head>
<body>
{% include "_nav.html" %}
<div class="layui-main">
    {% block body %}
    {% endblock %}
</div>
{% include "footer.html" %}
</body>
<script src="//cdn.huwenqiang.cn/layui/v2.2.5/layui.js"></script>
<script src="/static/js/common.js"></script>
{% block script %}
{% endblock %}
</html>