{% extends "common.html" %}
{% block style %}
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block body %}
        <div class="container">
            <div class="layui-carousel" id="carousel">
                <div carousel-item>
                    <div>
                        <div style="height: 50px"></div>
                        <div id="num-per-year"></div>
                        <div class="title">项目发布数量图</div>
                    </div>
                    <div>
                        <div style="height: 50px"></div>
                        <div id="protocol"></div>
                        <div class="title">开源协议占比图</div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{# if结构例子 #}
{#    {% if data['id'] != 1 %}#}
{#        {{ data.version }}#}
{#    {% else %}#}
{#        {{ '找不到用户' }}#}
{#    {% endif %}#}
{##}
{# for结构例子 #}
{#    {% for user in users %}#}
{#        {{ user.name }}#}
{#    {% endfor %}#}
{% block script %}
    <script>/*Fixing iframe window.innerHeight 0 issue in Safari*/
    document.body.clientHeight;</script>
<script src="//gw.alipayobjects.com/os/antv/assets/g2/3.0.4-beta.2/g2.min.js"></script>
<script src="//gw.alipayobjects.com/os/antv/assets/data-set/0.8.3/data-set.min.js"></script>
{% autoescape false %}
<script>
    data =;
    {{ data }}
</script>
{% endautoescape %}
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}
