{% extends "common.html" %}
{% block style %}
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
{% endblock %}
{% block body %}
    <div class="body">
        <div class="container">
            asdfasdfasdfasdf
        </div>
    </div>

{% endblock %}
{# if结构例子 #}
{#    {% if data['id'] != 1 %}#}
{#        {{ data.version }}#}
{#    {% else %}#}
{#        {{ '找不到用户' }}#}
{#    {% endif %}#}
{##}
{# for结构例子 #}
{#    {% for user in users %}#}
{#        {{ user.name }}#}
{#    {% endfor %}#}
{% block script %}
    <script type="text/javascript" src="../static/js/index.js"></script>
{% endblock %}
