<div class="item">
    <a href="">
        <img src="//cdn.zhuangcloud.cn/logo-2.svg" class="item-logo">
    </a>
    <div class="item-header">
        <h2 class="item-title">
            <a href="">Item-Name</a>
            <a class="item-usage" href=""><b>num</b>&nbsp;usages</a>
        </h2>
        <p class="item-subtitle">
            <span class="layui-breadcrumb sub-bread" lay-separator=">>">
                <a href="" class="sub-bread">HOME</a>
                <a href="">GroupId</a>
                <a href="">ArtifactId</a>
            </span>
            <span class="license">Apache</span>
            <span class="license">GPL</span>
        </p>
    </div>
    <div class="item-description">
        Item-Description
    </div>
</div>