{% extends "common.html" %}
{% block style %}
    <link type="text/css" rel="stylesheet" href="/static/css/artifact.css">
{% endblock %}

{% block body %}
    <div class="container">
        <span class="layui-breadcrumb title-bread" lay-separator=">>">
            <a href="">HOME</a>
            <a href="">{{ group }}</a>
            <a href="">{{ artifact }}</a>
            <a href="">{{ version }}</a>
        </span>

        <div class="item">
            <a href="">
                <img src="//cdn.zhuangcloud.cn/logo-2.svg" class="item-logo">
            </a>
            <div class="item-header">
                <h2 class="item-title">
                    <a href="">{{ results[0][2] }}</a>
                    >>
                    <a href="">{{ version }}</a>
                </h2>
            </div>
            <p class="item-description">
                {{ results[0][3] }}
            </p>
        </div>

        <table class="layui-table">
            <colgroup>
                <col width="200">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td><b>License</b></td>
                <td><span class="license">{{ results[0][1] }}</span></td>
            </tr>
            <tr>
                <td><b>HomePage</b></td>
                <td><a href="http://enbug.cn">{{ results[0][4] }}</a></td>
            </tr>
            <tr>
                <td><b>Date</b></td>
                <td>{{ results[0][5] }}</td>
            </tr>
            <tr>
                <td><b>Used By</b></td>
                <td><a href=""><b>7 &nbsp;artifacts</b></a></td>
            </tr>
            </tbody>
        </table>

        <h2>Dependencies</h2>

        <table class="layui-table">
            <colgroup>
                <col width="200">
                <col width="500">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>License</th>
                <th>Group/Artifact</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            {% for de in results %}
            <tr>
                <td><span class="license">{{ de[6] }}</span></td>
                <td>
                    <a href="">
                        <img src="//cdn.zhuangcloud.cn/logo-2.svg" class="item-logo-table">
                    </a>
                    <span class="group-artifact">
                        <a href="">{{ de[7] }}</a>
                    >>
                    <a href="">{{ de[8] }}</a>
                    </span>

                </td>
                <td><a class="vbtn release" href="">{{ de[9] }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/js/artifact.js"></script>
{% endblock %}
